.cover__link {
  text-decoration: none;
  color: #fff;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  min-height: 62vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
}

@media all and (min-width: 1280px) {
  .cover__link {
    min-height: 740px;
  }
}


.cover__link:hover {
  cursor: pointer;
}
