.cover__link {
  /* position: absolute; */
  text-decoration: none;
  color: #fff;
  margin-top: 0;
  margin-left: 0;
  width: 100%;
  z-index: 10;
}

.cover__link:hover {
  cursor: pointer;
}

@media all and (min-width: 1280px) {
  .cover__link {
    width: 1184px;
  }
}
