.lead__title {
  width: 288px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  margin: 48px 0 16px;
}

@media all and (min-width: 768px) {
  .lead__title {
    width: 720px;
    font-size: 96px;
    line-height: 104%;
    margin-bottom: 32px;
  }
}

@media all and (min-width: 1280px) {
  .lead__title {
    margin-top: 56px;
  }
}
