.lead__image {
  width: 100%;
}

@media all and (min-width: 768px) {
  .lead__image {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .lead__image {
    width: 928px;
    align-self: center;
  }
}

@media all and (min-width: 1280px) {
  .lead__image {
    width: 984px;
  }
}
