.intro__text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  margin: 0 16px 34px;
}

@media all and (min-width: 768px) {
  .intro__text {
    width: 720px;
    margin: 0 0 33px 24px;
  }
}

@media all and (min-width: 1024px) {
  .intro__text {
    width: 690px;
    margin: 0 0 33px;
  }
}
