.intro {
  width: 100%;
  /* height: 754px; */
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
}

@media all and (min-width: 768px) {
  .intro {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .intro {
    width: 928px;
  }
}

@media all and (min-width: 1280px) {
  .intro {
    width: 984px;
  }
}
