.cover {
  width: 100%;
  min-height: 62vw;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 66px;
  border: 0;
  position: relative;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.cover::before {
  display: block;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: 1;
}

.cover:hover::before {
  opacity: 0.8;
  transition: 0.5s;
}

@media all and (min-width: 768px) {
  .cover {
    margin: auto;
    margin-top: 90px;
  }
}

@media all and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
  }
}

@media all and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    min-height: 740px;
    background-size: 100%;
  }
}
