.cover__image{
    width: 100%;
    /* opacity: 30%; */
    /* background-color: rgb(42 44 47.1 / 0.3); */
    background: #2A2C2F;
    opacity: 0.3;
}

@media all and (min-width: 768px){
    .cover__image{
        width: 100%;
    }
}

@media all and (min-width: 1024px){
    .cover__image{
        width: 100%;
    }
}

@media all and (min-width: 1280px){
    .cover__image{
        width: 1184px;
    }
}
