@media all and (min-width: 320px){
    .cover__title{
        width: 288px;
        height: 70px;
        font-family: Inter;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 109%;
        text-align: center;
        margin: 33px 16px 16px;
    }
}

@media all and (min-width: 768px){
    .cover__title{
        width: 560px;
        height: 152px;
        font-size: 72px;
        line-height: 106%;
        margin: 0 104px 32px;
        }
}

@media all and (min-width: 1024px){
    .cover__title{
        margin: 0 232px 32px;
        }
}

@media all and (min-width: 1280px){
    .cover__title{
        margin: 0 312px 32px;
        }
}