.place {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

@media all and (min-width: 768px) {
  .place {
    margin-bottom: 73px;
  }
}

@media all and (min-width: 1024px) {
  .place {
    margin-bottom: 80px;
  }
}

@media all and (min-width: 1280px) {
  .place {
    margin-bottom: 80px;
  }
}
