.intro__title {
  font-family: Inter;
  font-style: normal;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  line-height: 109%;
  margin: 0 16px 40px;
  align-self: flex-start;
}

@media all and (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 107%;
    margin-left: 24px;
  }
}

@media all and (min-width: 1024px) {
  .intro__title {
    margin-left: 0;
  }
}
